<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <script src="https://kit.fontawesome.com/09a72cf2e7.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">	<meta charset="utf-8">
  <style>

    label {
    font-weight: 600;
    color: #666;

}
body {
  background: #f1f1f1;
  /* margin-top:00px; */
  padding: 0% 30% 30% 30%;
}
.box8{
  box-shadow: 0px 0px 5px 1px #999;
  text-align: center;
}
.mx-t3{
  margin-top: -3rem;

}
#conv{
margin-top:250px;
}
.btn{
  margin: 20px 10px ;
  /* margin-left: 47.5%; */
}
#head{
  margin-left:15%;
  text-align: center;
  width: 400px;
}
  </style>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
      <script src="{%static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{%static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{%static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{%static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{%static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <meta charset="UTF-8">
  <title>Title</title>
</head>
{% include 'navbar.html' %}

</head>
<body>
<div class="container mt-3">
  <form method="post">{% csrf_token %}
      
      <div class="row jumbotron box8" id="conv">
        <div class="col-sm-12 mx-t3 mb-4" >
            {% include 'msg.html' %}
          <h2 class="text-center text-info">add connection</h2>
        </div>


          <div class="col-sm-6 form-group" id="head">

        <label>email</label>

        <select class="form-control browser-default custom-select" name="email">
          <option selected></option>
          {% for i in a %}
          <option value="{{ i.user.email }}">{{ i.user.email }} [ {{i.user.first_name}} ]</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-sm-12 form-group mb-0">
        <button class="btn btn-primary float-right">select</button>
        </div>
        <br><br>
        <br><br></div>
  </form>
</div>
</body>
</html>