<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://kit.fontawesome.com/09a72cf2e7.js" crossorigin="anonymous"></script>
  <style>
    img {
  border-radius: 50%;
}
  </style>
  {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center justify-content-between position-relative">

      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span>E-BILL</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="http://127.0.0.1:8000/billingapp/cuindex/{{c.id}}">DASHBOARD</a></li>



          <li class="dropdown"><a href="#"><span>BILL</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="http://127.0.0.1:8000/billingapp/billpay/{{c.id}}">PAY BILL</a></li>
              <li><a href="http://127.0.0.1:8000/billingapp/hbill/{{c.id}}">BILL HISTORY</a></li>


            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>COMPLAINTS/FEEDBACK</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="#">COMPLAINTS<i class="bi bi-chevron-right"></a></i>
              <ul>
                <li><a href="http://127.0.0.1:8000/billingapp/comp/{{c.id}}">ADD COMPLAINTS</a></li>
                <li><a href="http://127.0.0.1:8000/billingapp/vcomp/{{c.id}}">VIEW PREVIOUS COMPLAINTS</a></li>
              </ul></li>
              <li class="dropdown"><a href="#"><span>FEEDBACK</span><i class="bi bi-chevron-right"></a></i>
              <ul>
                <li><a href="http://127.0.0.1:8000/billingapp/cfeed/{{c.id}}">ADD FEEDBACK</a></li>
                <li><a href="http://127.0.0.1:8000/billingapp/vfeed/{{c.id}}">VIEW PREVIOUS FEEDBACK</a></li>
              </ul></li>



            </ul></li>
              <li><a href="http://127.0.0.1:8000/billingapp/profile/{{c.id}}">
              <span>PROFILE</span></a></li>
              <i class="fa-solid fa-user" style="font-size:30px;color:white;"></i>

          </li>&nbsp;&nbsp;&nbsp;
          <li><a class="nav-link scrollto" href="http://127.0.0.1:8000/billingapp/index/">LOGOUT</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
</body>
</html>
