<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <style>
  th{
  border-width:"10px";
  }
    .vtbl{
    margin-top:150px;
    margin-left:180px;

    }
  </style>
  {% load static %}
      <script src="{%static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{%static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{%static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{%static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{%static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div class="vtbl">  <h3 style="text-align:center;"><b>customer list</b></h3>
{% include 'navbar.html' %}
{% include 'msg.html' %}
<table style='border-width:"50px";border:solid'>
  <tr>
    <th style="border-width:'10px';">id</th>
    <th style='border-width:"50px";border-color:red;border:solid'>fname</th>
    <th style='border-width:"50px";border-color:red;border:solid'>lname</th>
    <th style='border-width:"50px";border-color:red;border:solid'>username</th>
    <th style='border-width:"50px";border-color:red;border:solid'>email</th>
    <th style='border-width:"50px";border-color:red;border:solid'>mobile number</th>
    <th style='border-width:"50px";border-color:red;border:solid'>gender</th>
    <th style='border-width:"50px";border-color:red;border:solid'>address</th>
    <th style='border-width:"50px";border-color:red;border:solid'>city</th>
    <th style='border-width:"50px";border-color:red;border:solid'>state</th>
    <th style='border-width:"50px";border-color:red;border:solid'>pin code</th>
    <th style='border-width:"50px";border-color:red;border:solid'>ACTION</th>
  </tr>
  {% for i in a %}
  <tr>
    <td style='border-width:"50px";border-color:red;border:solid'>{{i.id}}</td>
    <td style='border-width:"50px";border-color:red;border:solid'>{{i.user.first_name}}</td>
    <td style='border-width:"50px";border-color:red;border:solid'>{{i.user.last_name}}</td>
    <td style='border-width:"50px";border-color:red;border:solid'>{{i.user.username}}</td>
    <td style='border-width:"50px";border-color:red;border:solid'>{{i.user.email}}</td>
    <td style='border-width:"50px";border-color:red;border:solid'>{{i.mnumber}}</td>
    <td style='border-width:"50px";border-color:red;border:solid'>{{i.gender}}</td>
    <td style='border-width:"50px";border-color:red;border:solid'>{{i.add}}</td>
    <td style='border-width:"50px";border-color:red;border:solid'>{{i.city}}</td>
    <td style='border-width:"50px";border-color:red;border:solid'>{{i.state}}</td>
    <td style='border-width:"50px";border-color:red;border:solid'>{{i.pin}}</td>
    <td style='border-width:"50px";border-color:red;border:solid'><a href="http://127.0.0.1:8000/billingapp/regdel/{{i.id}}"><button class="btn btn-danger">delete</button></a></td>
  </tr>
  {% endfor %}

</table>
</div>

</body>
</html>